#content-container {
  height: 100%;
  background-color: #0f0f0f;
}

#controls-wrapper {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

#canvas {
    height: 100%;
}
