#mode-button-wrapper {
    position: relative;
    /* Get ends to line up with slider min/max, so buttons are above slider vals */
    margin-left: 10px;
    margin-right: 10px;
}

.mode-button {
    position: absolute;
    /* 'left' value set in component */
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color:  var(--control-background-color);
    transform: translateX(-50%);
    bottom: 10px;
}

.mode-icon {
    font-size: 20px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--control-foreground-color);
}

.mode-button:active {
    background-color: var(--control-foreground-color);
}

.mode-icon:active {
    color: var(--control-prominent-color);
}

#rewind-button .mode-icon {
    padding-right: 3px;
}
#play-button .mode-icon {
    padding-left: 3px;
}
#fastForward-button .mode-icon {
    padding-left: 3px;
}